@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat'sans-serif;
}

.container
 {
     width: 100%;
     height: 100vh;
     background: linear-gradient(rgba(53,82,66,0.5),rgba(47,88,63,0.6)),url('https://i.ibb.co/YcvMXKK/europeanocean.jpg') center no-repeat;
     background-size: cover;
     overflow: hidden;
     position: relative;
 }

 .banner {
     width: 100%;
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }

.banner h1 {
    font-size: 5.7rem;
    color: #006600;
    font-weight: 300;
    margin-bottom: 2rem;
    -webkit-text-stroke: 1px #fff;
    animation-name: moveToLeft;
    animation-duration: 2s;
}

.banner span {
    text-transform: uppercase;
    font-weight: 700;
    color: #FF0000;
}

.banner p {
    font-size: 3rem;
    font-weight: 300;
    color: #ffff21;
    margin-bottom: 2rem;
    -webkit-text-stroke: 1px #000;
    animation-name: moveToRight;
    animation-duration: 2s;
}

.banner button {
    width: 200px;
    padding: 12px;
    margin: 2rem;
    border: 2px solid #eee;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-left {
    background-color: #006600;
    /* opacity: 0.8; */
    color: #ffff21;
    animation-name: animateBtn;
    animation-duration: 3s;
}
.btn-right {
    background-color: #FF0000;
    /* opacity: 0.8; */
    color: #ffff21;
    animation-name: animateBtn;
    animation-duration: 3s;
}

@keyframes moveToLeft {
    0% {
        transform: translateX(120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveToRight {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animateBtn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}


@media (max-width:600px) {
    
.banner h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    -webkit-text-stroke: 1px #fff;
    animation-name: moveToLeft;
    animation-duration: 2s;
}

.banner p {
    font-size: 2rem;
    color: #ffff21;
    margin-bottom: 2rem;
    -webkit-text-stroke: 1px #000;
    animation-name: moveToRight;
    animation-duration: 2s;
}
.banner button {
    width: 200px;
    padding: 12px;
    margin: .6rem;
    border: 2px solid #eee;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
}
    
}



/* Portugal flag green #006600 and red #FF0000*/













